body {
    background-color: #24353f;
}
.content {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.content h1{
    color: #0dcaf0;
}
.content .form-control {
    background-color: transparent !important;
}
.content .form-control::placeholder {
    color: #B6B6B6;
}
.content a:hover {
    text-decoration: underline !important;
}
nav {   
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
nav .nav-link {
    /* background-color: transparent !important;
    color: #B6B6B6 !important; */
    border: 2px #ffc107 solid !important;
}
input {
    color: #fff !important;
}
.smallpara {
    font-size: 13px;
}